
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <p><% if @task.completed %>
    <%= "This task is completed" %>
    <% else %>
    <%= "This task is not completed yet" %>
    <% end %>
   </p>
   <p><%= link_to "edit this Task", edit_path %></p>
  <p><%= link_to "Back to list", index_path %></p>
